<div style="margin-left: 200px; margin-right: 200px; font-size: 13px">
    <br>
    <h2>Driver</h2>
    <br>
    <p style="font-size: 20px; font-weight: 600">Edit</p>
    <br>

    {{!-- On One Line Form- --}}
    <div class="formDiv">
        <form data-id="{{this.id}}" class="update-form">
            <div class="form-group-sm row">
                <div class="col-sm">
                    <label for="ex1">NO</label>
                    <input class="form-control form-control-sm" placeholder="NO" name="NO" id="NO" maxlength="45"
                        value="{{this.information_driver_no}}" style="width: 200px">
                    <br>
                    <label for="ex2">Name</label>
                    <input class="form-control form-control-sm" placeholder="Name" name="Name" id="Name"
                        maxlength="45" value="{{this.information_driver_name}}" style="width: 200px">
                    <br>
                    <label for="ex1">License ID</label>
                    <input class="form-control form-control-sm" placeholder="licenseId" name="licenseId" id="licenseId"
                        maxlength="45" value="{{this.information_driver_license_id}}" style="width: 200px">
                    <br>
                    <label for="ex2">RFC</label>
                    <input class="form-control form-control-sm" placeholder="RFC" name="RFC" id="RFC" maxlength="45"
                        value="{{this.information_driver_rfc}}" style="width: 200px">
                    <br>
                                        <label for="ex2">IFE</label>
                    <input class="form-control form-control-sm" placeholder="IFE" name="IFE" id="IFE" maxlength="45"
                        value="{{this.information_driver_ife}}" style="width: 200px">
                    <br>
                                        <label for="ex2">Address</label>
                    <input class="form-control form-control-sm" placeholder="Address" name="Address" id="Address" maxlength="45"
                        value="{{this.information_driver_address}}" style="width: 200px">
                    <br>
                    {{!-- <label for="ex2">Name</label>
          <input class="form-control form-control-sm" placeholder="Name" name="Name" id="Name" maxlength="45" required
            style="text-transform: uppercase; width: 100px">
          <br> --}}
                    <button type="submit" class="btn btn-secondary btn-sm" style="margin-top: 25px">Save</button>
                </div>

            </div>
        </form>
        <button class="btn btn-secondary btn-sm" style="margin-top: 25px"
            onclick="window.history.back()">Cancel</button>
        {{!-- <button class="btn btn-secondary btn-sm" style="margin-top: 25px"
        onclick="window.location.href='/master_division'">Cancel</button> --}}
        <br>
    </div>

</div>
<br>

</div>

<script type="text/javascript">

    $(".update-form").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();


        var updatedPlan = {
            information_driver_no: $("#NO").val().trim(),
            information_driver_name: $("#Name").val().trim(),
            information_driver_license_id: $("#licenseId").val().trim(),
            information_driver_rfc: $("#RFC").val().trim(),
            information_driver_ife: $("#IFE").val().trim(),
            information_driver_address: $("#Address").val().trim(),
        };

        var id = $(this).data("id");
        // Send the PUT request.
        $.ajax("/information_driver_list/" + id, {
            type: "PUT",
            data: updatedPlan
        }).then(
            function () {
                console.log("updated!");
                // Reload the page to get the updated list
                location.assign("/information_driver");
            }
        );
    });

</script>