{{!-- <div style="margin-left: 200px; margin-right: 200px; font-size: 13px">
    <br>
    <h2>Truck Payment Deduction</h2>
    <br>
    <h4>Add Payment</h4>
    <br>

    {{!-- On One Line Form- --}}
    <div class="formDiv">
        {{#each truckPaymentData}}
        <form data-id="{{this.id}}" class="update-form">
            {{/each}}
            <div class="form-group-sm row">
                <div class="col-sm">
                    {{#each truckPaymentData}}
                    <label for="ex3">Truck NO</label>
                    <select class="form-control form-control-sm" name="truckNo" id="truckNo" required
                        style="width: 100px">
                        <option value="{{this.input_truck_payment_truck_no}}" selected>{{this.input_truck_payment_truck_no}}</option>
                        {{/each}}
                        {{#each truckData}}
                        <option value="{{this.information_truck_no}}">{{this.information_truck_no}}</option>
                        {{/each}}
                        {{!-- <option>Pending</option> --}}
                    </select>
                    <br>
                    {{#each truckPaymentData}}
                    <label for="ex3">Owner No</label>
                    <select class="form-control form-control-sm" name="ownerId" id="ownerId" required
                        style="width: 100px">
                        <option value="{{this.input_truck_payment_owner_id}}" selected>{{this.input_truck_payment_owner_id}}</option>
                        {{/each}}
                        {{#each ownerData}}
                        <option value="{{this.information_owner_no}}">{{this.information_owner_no}}</option>
                        {{/each}}
                        {{!-- <option>Pending</option> --}}
                    </select>
                    <br>
                    {{#each truckPaymentData}}
                    <label for="ex3">Owner Name</label>
                    <select class="form-control form-control-sm" name="ownerName" id="ownerName" required
                        style="width: 100px">
                        <option value="{{this.input_truck_payment_owner_name}}" selected>{{this.input_truck_payment_owner_name}}</option>
                        {{/each}}
                        {{#each ownerData}}
                        <option value="{{this.information_owner_name}}">{{this.information_owner_name}}</option>
                        {{/each}}
                        {{!-- <option>Pending</option> --}}
                    </select>
                    <br>
                    {{#each truckPaymentData}}
                    <label for="ex3">Driver No</label>
                    <select class="form-control form-control-sm" name="driverId" id="driverId" required
                        style="width: 100px">
                        <option value="{{this.input_truck_payment_driver_id}}" selected>{{this.input_truck_payment_driver_id}}</option>
                        {{/each}}
                        {{#each driverData}}
                        <option value="{{this.information_driver_no}}">{{this.information_driver_no}}</option>
                        {{/each}}
                        {{!-- <option>Pending</option> --}}
                    </select>
                    <br>
                    {{#each truckPaymentData}}
                    <label for="ex3">Driver Name</label>
                    <select class="form-control form-control-sm" name="driverName" id="driverName" required
                        style="width: 100px">
                        <option value="{{this.input_truck_payment_driver_name}}" selected>{{this.input_truck_payment_driver_name}}</option>
                        {{/each}}
                        {{#each driverData}}
                        <option value="{{this.information_driver_name}}">{{this.information_driver_name}}</option>
                        {{/each}}
                        {{!-- <option>Pending</option> --}}
                    </select>
                    <br>

                </div>
                <div class="col-sm">
                    {{#each truckPaymentData}}
                    <label for="ex2">Truck Total Amount</label>
                    <input class="form-control form-control-sm" placeholder="truckTotalAmount" name="truckTotalAmount"
                        id="truckTotalAmount" type="text" value="{{this.input_truck_payment_truck_total_amount}}" maxlength="45"
                        required style="width: 200px">
                    <br>
                    <label for="ex1">Down Payment</label>
                    <input class="form-control form-control-sm" placeholder="downPayment" name="downPayment"
                        id="downPayment" type="text" value="{{this.input_truck_payment_down_payment}}" maxlength="45" required
                        style="width: 200px">
                    <br>
                    <label for="ex1">Sale Date</label>
                    <input class="form-control form-control-sm" placeholder="saleDate" name="saleDate" id="saleDate" type="text" 
                        value="{{this.input_truck_payment_sale_date}}" maxlength="45" required style="width: 200px">
                    <br>
                    <label for="ex1">Pay/month</label>
                    <input class="form-control form-control-sm" placeholder="payMonth" name="payMonth" id="payMonth" type="text" 
                        value="{{this.input_truck_payment_pay_month}}" maxlength="45" required style="width: 200px">
                    <br>
                    <label for="ex2">Paid Amount</label>
                    <input class="form-control form-control-sm" placeholder="paidAmount" name="paidAmount"
                        id="paidAmount" type="text" value="{{this.input_truck_payment_paid_amount}}" maxlength="200px" required
                        style="width: 200px">
                    <br>
                    <label for="ex1">Balance Amount</label>
                    <input class="form-control form-control-sm" placeholder="balanceAmount" name="balanceAmount"
                        id="balanceAmount" type="text" value="{{this.input_truck_payment_balance_amount}}" maxlength="45" required
                        style="width: 200px">
                    <br>
                    {{/each}}
                </div>
            </div>
            <div class="form-group-sm row">
                <button type="submit" class="btn btn-secondary btn-sm" style="margin-top: 25px">Save</button>


            </div>
    </div>
    </form>
    <div class="form-group-sm row">
        <button class="btn btn-secondary btn-sm" style="margin-top: 25px"
            onclick="window.history.back()">Cancel</button>
        {{!-- <button class="btn btn-secondary btn-sm" style="margin-top: 25px"
        onclick="window.location.href='/master_division'">Cancel</button> --}}
        <br>
    </div>
</div>

</div>
<br>

</div>

<script type="text/javascript">

    $(".update-form").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();


        var updatedPlan = {
            input_truck_payment_truck_no: $("#truckNo").val().trim(),
            input_truck_payment_owner_id: $("#ownerId").val().trim(),
            input_truck_payment_owner_name: $("#ownerName").val().trim(),
            input_truck_payment_driver_id: $("#driverId").val().trim(),
            input_truck_payment_driver_name: $("#driverName").val().trim(),
            input_truck_payment_truck_total_amount: $("#truckTotalAmount").val().trim(),
            input_truck_payment_down_payment: $("#downPayment").val().trim(),
            input_truck_payment_sale_date: $("#saleDate").val().trim(),
            input_truck_payment_pay_month: $("#payMonth").val().trim(),
            input_truck_payment_paid_amount: $("#paidAmount").val().trim(),
            input_truck_payment_balance_amount: $("#balanceAmount").val().trim(),
        };

        var id = $(this).data("id");
        // Send the PUT request.
        $.ajax("/input_truck_payment_list/" + id, {
            type: "PUT",
            data: updatedPlan
        }).then(
            function () {
                console.log("updated!");
                // Reload the page to get the updated list
                location.assign("/input_truck_payment");
            }
        );
    });

</script> --}}